body
{
	font-family: "Tahoma";
	font-size: 10pt;
	padding: 0;
	background-color: #e9e8f3;
	width: 1000px;
	height: 600px;
	margin: 0;
	border: 1px solid red;
	behavior: drag-window;
}

#maincontent
{
    flow: horizontal;
    height: 100%%;
}

#thebar 
{
	overflow: auto;
	height: 100%%;
	width: 30%%;
	margin: 0;
	padding: 0;
	border: 1px solid #bdbccc;
	overflow: auto;
	behavior: expandable-list;
	overflow-y: hidden;
	background-color: #fff #e9e8f3 #e9e8f3 #fff;
}

#right
{
    border-top: 1px solid black;
    border-left: 1px solid black;
    height: 100%%;
    margin-left: 10px;
    padding: 10px;
}

#thebar > li 
{
	color: black;
	transition: slide;
}

#thebar > li > .caption
{
	font-weight: bold;
	color: white;
	padding: 6px;
	margin: -1px;
	padding-left: 10px;
	background-image: url( images/tab.png );
	background-repeat: expand stretch-left stretch-right stretch-middle;
	background-position: 3px 3px 3px 3px;
	margin: 0;
} 

#thebar > li > .caption:hover
{
	color: #ffe598;
	transition: blend;
	background-image: url( images/tab-hover.png );
}

#thebar > li:expanded
{
	height: 100%%;
	assigned!:
        $( #right > div ).show = null,
        $( #right > div:nth-child( <self:index> ) ).show = true;
}

#right > div
{
    display: none;
}

#right > div[show]
{
    display: inline-block;
}

#thebar > li > .content 
{
	visibility: collapse;
	padding: 4px;
	height: 100%%; 
	overflow-y: hidden;
}

#thebar > li:expanded > .content 
{
	visibility:visible;
}